@import url('https://fonts.googleapis.com/css2?family=Arima&family=Cormorant+SC:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@700&family=Fira+Sans:ital,wght@0,400;1,300&family=Josefin+Sans&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.5vh;
    transition: 0.8s all;
}
body{
    background-color: black;
}

/* container and box configs */

#aboutMe{
    
    /* itens postion */
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: start;
    display: flex;

    /* container background */
    background-image: url(../images/background/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-size: cover;
}
.intro{ 

    /* box sizing and color */
    color:#A0A1C7;
    box-shadow: -3vh 3vh 1.2vh #ffffffb7;
    height: 60vh;
    width: 90vh;
    border-radius: 2vh;
    background-color: #00000000;
    
    /* content postion */
    display: flex;
    align-items: flex-end;
    margin-left: 20vh;
}

/* writtens */ 

.name{
    font-family: Josefin Sans;
    color:#cc84ff; 
    font-size: 10vh;
    text-shadow: 0 0 3vh #480F72;
}
.content{
    padding: 0 0 2vh 5vh;
    text-align: justify;
}
.introTitle{
    font-family: Josefin Sans;
    color:#ffffff; 
    padding: 4vh 0 4vh 1vh;
}

/* icons */

.icons{
    width: 8vh;
    height: 8vh;
    margin: 0 1vh 0 1vh;
}
#iconGit{
    width: 6vh;
    height: 6vh;
}
.divIcons{
    display: flex;
    justify-content: center;

    align-items: center;
}

/* animations */

.aIcons:hover{
    transform: rotate(360deg);
    transition: 0.9s all ease-in-out;
}