@import url('https://fonts.googleapis.com/css2?family=Arima&family=Cormorant+SC:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@700&family=Fira+Sans:ital,wght@0,400;1,300&family=Josefin+Sans&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.5vh;
    transition: 0.8s all;
}
body{
    background-color: black;
}