#skills{
    background-color: #060521;
    padding: 0 0 15vh 0;
}
.mainTitleSkills{
    /* writens */ 
    color: #cc84ff;
    font-family: Poppins;
    font-size: 15vh;
    text-align: center;
    text-shadow: 0 0 3vh #cc84ff;
    
    /* box sizing and color */
    padding: 4vh 0 4vh 0;
}
.skillsTitle{
    /* writens */ 
    color:#cc84ff;
    font-family: Poppins;
    font-size: 5.5vh;
    text-align: center;
    letter-spacing: 0.1vh;
    text-shadow: 0 0 3vh #480F72;
    
    /* box sizing and color */
    margin-bottom: 2vh;
}
.skillsDescription{
    /* writens */
    color:white;
    font-family: Josefin Sans;
    font-size: 4vh;
    letter-spacing: 0.1vh;
}
.boxSkills{
    /* box sizing and color  #cc84ff */
    border: 1vh solid rgba(255, 255, 255, 0.822);
    padding: 3vw;
    height: 33vw;
    width: 25vw;
    border-bottom-left-radius: 5vh;
    border-top-right-radius: 5vh;
    box-shadow: 0px 0px 2vh 2vh #ffffff83;
    margin-top: 5vh;
}

.containerSkills{
    /* box sizing and color */
    display: flex;
    padding: 0 5vh 0 5vh;
    justify-content: space-around;
    align-items: center;
}

/* icons */

.iconSkills{
    width: 100%;
    height: 100%;
    object-fit: contain;
}