header{
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.692);
}
#logo{
    width: 10vh;
    height: 10vh;
}
.aheader{
    text-decoration: none;
    color:#A0A1C7;
    font-family: Poppins;
    font-size: 3.2vh;
    text-shadow: 0 0 2em #949CC4;
}
ul{ 
    list-style-type: none;
    display: inline-flex;
}
li{
    padding-left: 5vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vh;
    margin-left: 8vh;
}

/*Animations*/

.aheader:hover{
    background-color: rgba(0, 0, 0, 0.479);
}
li:hover{
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition: 0.4s all ease-in-out;
}
#logo:hover{
    transform: scale(1.1);
    transition-delay: 0.9s;
    transition: 0.8s all ease-in-out;
}

/* mobile menu */

#mobile-menu div{
    width: 5vh;
    height: 0.4vh;
    background-color: rgb(0, 0, 0);
    margin: 1.6vh;
}
#mobile-menu{
    display: none;
    cursor: pointer;
}
@media (max-width:999px) {
    body{
        overflow-x: hidden;
    }
    ul{
        position: absolute;
        top: 11vh;
        right: 0;
        width: 28vh;
        height: 40vh;
        background-color: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    #mobile-menu{
        display: block;
    }
    nav{
       margin:0;
    }
    li{
        padding: 0;
    }

    /*continuar com o javascript */
}